In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from os import path

In [2]:
df = pd.read_csv(path.join('data_transformed', 'df_main.csv'), encoding='utf-8', low_memory=False)

In [3]:
df

          ANO  MES EMPRESA  TARIFA  ASSENTOS     ORIGEM       DESTINO
0        2021    1     AZU   293.2         1    ARACATI      BRASÍLIA
1        2021    1     AZU   340.9         6    ARACATI      BRASÍLIA
2        2021    1     AZU   367.3         1    ARACATI      BRASÍLIA
3        2021    1     AZU   435.9         1    ARACATI      BRASÍLIA
4        2021    1     AZU   452.9         1    ARACATI      BRASÍLIA
...       ...  ...     ...     ...       ...        ...           ...
1883690  2021    3     AZU    55.0         1   SANTARÉM  MONTE ALEGRE
1883691  2021    3     AZU    98.0         2   SANTARÉM  MONTE ALEGRE
1883692  2021    4     AZU   153.0         2   SANTARÉM  MONTE ALEGRE
1883693  2021    1     AZU    55.0        30  SÃO PAULO      ITANHAÉM
1883694  2021    1     AZU   119.0         5  SÃO PAULO      ITANHAÉM

[1883695 rows x 7 columns]

- Viracopos -> Cuiabá  (AZUL)

In [ ]:
df_vcp_cgb = df[(df['ORIGEM'] == 'CAMPINAS') & (df['DESTINO'] == 'VÁRZEA GRANDE')]

In [ ]:
plt.boxplot(df_vcp_cgb['TARIFA'])
plt.title('Viracopos -> Cuiabá (AZUL)')
plt.ylabel('R$')
plt.show()

- Guarulhos -> Cuiabá (Outras Cias)

In [ ]:
df_gru_cgb = df[(df['ORIGEM'] == 'GUARULHOS') & (df['DESTINO'] == 'VÁRZEA GRANDE')]

In [ ]:
plt.boxplot(df_gru_cgb['TARIFA'])
plt.title('Guarulhos -> Cuiabá (Outras Cias)')
plt.ylabel('R$')
plt.show()